.programs{
    padding-top: 11vw;
}
.programs__inner {
    position: relative;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 37.5vw;
    @media (max-width:991px) {
        height: 60vw;
    }
}
.programs__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 23vw;
    bottom: 4vw;
}

.programs__content {
    width:100%;
    text-align: center;
    

    h2{
        font-size: 1.9271vw;
        line-height: 1.13;
        color: #94d600;
        margin-bottom: 3.1250vw;
    }
    p{
        font-size: 1.9271vw;
        line-height: 1.13;
        color: #fff;
        font-weight: 700;
        margin-bottom: 4.1667vw;
    }
}
.programs__choice {
    display: flex;
}
.programs__choice-card {
    padding: 0.9375vw 0 0 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 8.4896vw;
    height: 8.4896vw;
    background-color: #000000;
    border-radius: 100%;
    cursor: pointer;
    position: relative;
    &:first-child{
        margin-right: 5.2083vw;
        
        &::after{
            content: "";
            position: absolute;
            width: 3.7500vw;
            height: 3.4375vw;
            transform: rotate(90deg);
            top: -3.5417vw;
            right: -1.5625vw;
            background-image: url(../images/programs-sircle.svg); 
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
    &:nth-child(2){
        margin-top: 2.6042vw;

        &::after{
            content: "";
            position: absolute;
            width: 3.7500vw;
            height: 3.4375vw;
            top: -4.9583vw;
            right: 4.4792vw;
            background-image: url(../images/programs-sircle.svg); 
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
    &::before{
        content: "";
        position: absolute;
        width: 10.7813vw;
        height: 10.4167vw;
        top: -0.8333vw;
        right: -0.7292vw;
        background-image: url(../images/outline-circle.png);
        background-size: contain;
        background-repeat: no-repeat;
    }
}
.programs__choice-card-title {
    color: #94d600;
    font-size: 1.0417vw;
    margin-bottom: 0.5208vw;
}
.programs__choice-card-age {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #94d600;
    font-size: 4.6875vw;
    strong{
        font-size: 1.3021vw;
    }
}

@media (max-width:991px) {
    .programs__content {    
        p{
            font-size: 4.9271vw;
        }
    }
    .programs__choice {
        margin-top: 10px;
    }
    .programs__choice-card {
        padding: 0.9375vw 0 0 0;
        width: 15.4896vw;
        height: 15.4896vw;
        background-color: #000000;
        border-radius: 100%;
        cursor: pointer;
        position: relative;
        &:first-child{
            margin-right: 5.2083vw;
            
            &::after{
                width: 5.7500vw;
                height: 5.4375vw;
                top: -3.5417vw;
                right: -3.5625vw;
            }
        }
        &:nth-child(2){
    
            &::after{
                width: 5.7500vw;
                height: 5.4375vw;
                top: -5.9583vw;
                right: 9.4792vw;
            }
        }
        &::before{
            width: 17.7813vw;
            height: 17.4167vw;
        }
    }
    .programs__choice-card-title {
        font-size: 3.0417vw;
    }
    .programs__choice-card-age {
        font-size: 8.6875vw;
        strong{
            font-size: 3vw;
        }
    }
}


